*{
  font-family: 'Raleway', sans-serif;
}
body{
  justify-content: center;
  display: flex;
}
.contenedorTodolist{
  margin-top: 90px;
  width: 600px;
  height: 500px;
  padding-bottom: auto;
  background-color: #dad8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tittleTodos{
  font-size: 80px;
  display: flex;
  justify-content: center;
  color:#9c9999;
  font-family: 'Raleway', sans-serif;

}
ul {
    list-style: none;
    padding: 0;
    color:black ;
    
  }
  
  li {
    display: flex;
    align-items: center;
    border: none;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
  }
  
  .delete-button {
    color: #555454;
    padding: 6px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 8px;
    font-size: 16px;
    background-color: white;
    
  }

  
  
  .delete-button:hover {
    color: #0c0c0c;
  }

  label {
    display: flex;
    justify-content: center;
    font-size: 500px; 
    width: 200px;
    border: none;
  }

  input{
    display: flex;
    justify-content: center; 
    width: 400px;
    font-size: medium;
    border: none;
  }

  .counter{
    display: flex;
    background-color: white;
    font-size: small;
    color: black;
  }

 

